@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
	--black: #000000;
	--white: #ffffff;
	--gray: #adadad;
	--blue: #1f54d8;
	--trans-white: #ffffff1f;
	--light-gray: #ededed;
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	font-family: 'Inter', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	/*font-family: 'Cutive Mono', monospace;*/
	margin: 0;
	padding: 0;
	background-color: var(--black);
	color: var(--white);
	width: 100vw;
	overflow-x: hidden;
}

.black {
	background-color: var(--black);
	color: var(--white);
	width: 100%;
}

.white {
	background-color: var(--white);
	color: var(--black);
	width: 100%;
}

.content {
	width: 96%;
	max-width: 1920px;
	margin: 0 auto;
}

/*header*/
.header {
	margin-top: 30px;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 30px;
}

.header a {
	text-decoration: none;
	color: var(--white);
}
.header .logo {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
}
.header .logo .image img {
	width: 60px;
}
.header .logo .name {
	justify-content: space-between;
	text-align: left;
}
.header .logo .name h1 {
	margin: 0;
	font-size: 1.9rem;
}
.header .logo .name span {
	margin: 0;
	font-size: 1.2rem;
}

.header .nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 30px;
}
.header .nav a {
	font-size: .9rem;
	text-decoration: none;
	color: var(--white);
	font-weight: 300;
	letter-spacing: .05rem;
	text-transform: uppercase;
	text-decoration: underline 1px rgba(255, 255, 255, 0);
	transition: text-decoration-color 300ms;
}
.header .nav a:hover {
	text-decoration-color: rgba(255, 255, 255, 1);
	text-underline-offset: 3px;
}

.header .social {
	display: flex;
	flex-direction: row;
	grid-gap: 20px;
	align-items: center;
}

.header .social a {
	font-size: .9rem;
	color: var(--white);
	text-decoration: none;
	padding: 10px 12px;
	background-color: var(--trans-white);
	border-radius: 5px;
	transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
}
.header .social a:hover {
	color: var(--black);
	background-color: var(--white);
}
.header .social a #contribute {
	margin-left: 6px;
}



/*Product Details*/
.product-details {
	width: calc(85% - 100px);
	margin: 100px auto 0 auto;
	background-color: var(--white);
	color: var(--black);
	padding: 50px;
	border-radius: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}

.product-details .product-image {
	display: grid;
	align-items: center;
	justify-content: center;
}
.product-details .product-image img {
	width: 100%;
}

.product-details .product-download {
	display: grid;
	align-items: center;
}
.product-details .product-download a {
	text-decoration: none;
}
.product-details .product-download h2 {
	margin: 0;
	padding: 0;
	font-size: 4rem;
	letter-spacing: .1rem;
}
.product-details .product-download p {
	font-size: 1.3rem;
	line-height: 2rem;
	margin-top: 40px;
}

.product-details .product-download .os-download-btn {
	cursor: pointer;
	width: fit-content;
	background-color: var(--black);
	border: none;
	color: var(--white);
	font-size: 20px;
	letter-spacing: .05rem;
	border-radius: 30px;
	margin-top: 60px;
	padding: 10px 20px;
}
.product-details .product-download .os-download-btn span {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}
.product-details .product-download .os-download-btn #d-text {
	display: flex;
	align-items: center;
}
.product-details .product-download .os-download-btn #d-icon img {
	width: 25px;
}


/*Features*/
.features {
	width: 85%;
	margin: 100px auto 0 auto;
	padding: 100px 0;
	display: grid;
	grid-template-columns: 300px 1fr;
}

.features h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5rem;
	text-transform: uppercase;
	writing-mode: tb-rl;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	white-space: nowrap;
	display: block;
}

.features .tabs {
	margin-top: -10px;
}
.features .tabs ul {
	list-style: none;
	padding: 0;
	display: flex;
	grid-gap: 30px;
}
.features .tabs ul li {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
.features .tabs ul li a {
	text-decoration: none;
	color: var(--gray);
	transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
}
.features .tabs ul li a:hover {
	color: var(--black);
}
.features .tabs ul .active a {
	font-weight: 600;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 10px;
	color: var(--black);
}

.features .tabs .tab {
	margin-top: 80px;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 100px;
}

/*.features .tabs .tab .tab-image,
.features .tabs .tab .tab-details {
	display: grid;
	justify-content: center;
	align-items: center;
}*/
.features .tabs .tab .tab-details p {
	margin: 0;
	padding: 0;
}
.features .tabs .tab .tab-image {
	align-items: right;
}
.features .tabs .tab .tab-image img {
	border-radius: 10px;
}
.features .tabs .tab .tab-details {
	font-size: 1.5rem;
	letter-spacing: .05rem;
	line-height: 3rem;
}


/*Professional Production*/
.professional {
	width: 85%;
	margin: 0 auto 100px auto;	
}

.professional h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5rem;
	text-transform: uppercase;
}

.professional .professional-cards {
	margin: 50px auto 100px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}
.professional .professional-cards .card {
	background-color: var(--light-gray);
	color: var(--black);
	padding: 20px;
	border-radius: 20px;

	display: grid;
	grid-gap: 30px;
}
.professional .professional-cards .card .image {
	display: grid;
	justify-content: center;
}
.professional .professional-cards .card .image img {
	border-radius: 5px;
	width: 100%;
}
.professional .professional-cards .card .title h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-transform: uppercase;
}
.professional .professional-cards .card .details p {
	padding: 0;
	margin: 0;
	font-size: .9rem;
	letter-spacing: .01rem;
	line-height: 1.5rem;
}


/*Collaborative Creativity*/
.collaborative-creativity {
	width: calc(85% - 100px);
	margin: 0 auto 100px auto;
	padding: 50px;
	border-radius: 20px;
	background-color: var(--black);
	color: var(--white);
}
.collaborative-creativity h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-transform: uppercase;
}
.collaborative-creativity p {
	margin: 30px 0 0 0;
	padding: 0;
	font-size: .9rem;
	letter-spacing: .01rem;
	line-height: 1.5rem;
}
.collaborative-creativity p a {
	color: var(--white);
	text-underline-offset: 3px;
	transition: text-decoration .2s ease-in-out;
    -moz-transition: text-decoration .2s ease-in-out;
}
.collaborative-creativity p a:hover {
	text-decoration: none;
}


/*Sponsors*/
.sponsors {
	width: 85%;
	margin: 100px auto;
}
.sponsors h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5rem;
	text-transform: uppercase;
	text-align: center;
}
.sponsors .sponsors-logo {
	margin: 100px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.sponsors .sponsors-logo div {
	display: grid;
	justify-content: center;
	align-items: center;
}
.sponsors .sponsors-logo div:first-child {
	justify-content: left;
}
.sponsors .sponsors-logo div:last-child {
	justify-content: right;
}
.sponsors .sponsors-logo div img {
	width: 200px;
	opacity: .5;
	transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
}
.sponsors .sponsors-logo div img:hover {
	opacity: 1;
}

.sponsors p {
	color: var(--gray);
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .1rem;
	line-height: 2rem;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.sponsors #learn-more {
	margin-top: 7px;
	font-size: .7rem;
	letter-spacing: .15rem;
	font-weight: 300;
}
.sponsors #learn-more a {
	color: var(--white);
	text-underline-offset: 3px;
	transition: text-decoration .2s ease-in-out;
    -moz-transition: text-decoration .2s ease-in-out;
}
.sponsors #learn-more a:hover {
	text-decoration: none;
}


/*Footer*/
.footer {
	width: 85%;
	margin: 100px auto;
}
.footer h1 {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: .5rem;
	text-transform: uppercase;
}
.footer .links {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer .links h2 {
	margin: 0;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
}
.footer .links div:nth-child(2) {
	display: grid;
	justify-content: center;
}
.footer .links div:last-child {
	display: grid;
	justify-content: right;
}
.footer .links div ul {
	list-style: none;
	padding: 0;
}
.footer .links div ul li {
	font-size: .8rem;
	line-height: 2rem;
	text-transform: uppercase;
	letter-spacing: .05rem;
}
.footer .links div ul li a {
	text-decoration: none;
	color: var(--gray);
	font-weight: 300;
	transition: text-decoration .2s ease-in-out;
    -moz-transition: text-decoration .2s ease-in-out;
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
}
.footer .links div ul li a:hover {
	text-decoration: underline;
	color: var(--white);
	text-underline-offset: 3px;
}
.footer .social {
	text-align: center;
}
.footer .social a {
	color: var(--gray);
	margin-right: 40px;
	transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
}
.footer .social a:hover {
	color: var(--white);
}

.footer .copy {
	width: 60%;
	margin: 20px auto 0 auto;
}
.footer .copy p {
	text-align: center;
	font-size: .7rem;
	color: var(--gray);
}
.footer .copy p a {
	color: var(--gray);
	transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    text-underline-offset: 1px;
}
.footer .copy p a:hover {
	color: var(--white);
}